* {
    padding: 0;
    margin: 0;
}

.head {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0px 0px 8px black;
    margin-bottom: 40px;
}


.main {
    width: 98%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    border-radius: 10px;

}

.main_card1 {
    width: 32%;
    height: auto;
    border-radius: 5px;
}

.main_inner_title1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.AddUser1 {
    width: 50px;
    height: 50px;
    font-size: 40px;
    background-color: transparent;
    border: none;
}

.card1 {
    width: 100%;
}

.card1_inner {
    width: 100%;
    height: 180px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px black;
    margin-bottom: 15px;
    padding: 6px;
}

.card1_inner:hover {
    box-shadow: 0px 0px 10px black;
}

.card2_inner:hover {
    box-shadow: 0px 0px 10px black;
}

.card3_inner:hover {
    box-shadow: 0px 0px 10px black;
}

.forName {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.forAge {
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btnDel {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(190, 4, 4);
    color: white;
    font-size: 16px;
    border: none;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0px 0px 3px black;
}

.btnEdit {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(27, 24, 226);
    color: white;
    font-size: 16px;
    border: none;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0px 0px 3px black;
}

/* card2________________________________ */
.main_card2 {
    width: 32%;
    height: auto;
    border-radius: 5px;
}

.main_inner_title2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.card2 {
    width: 100%;
}

.AddUser2 {
    width: 50px;
    height: 50px;
    font-size: 40px;
    background-color: transparent;
    border: none;
}

.card2_inner {
    width: 100%;
    height: 180px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px black;
    margin-bottom: 15px;
    padding: 6px;
}

/* _______________________________ */
.main_card3 {
    width: 32%;
    height: auto;
    border-radius: 5px;
}

.main_inner_title3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card3 {
    width: 95%;
}

.AddUser3 {
    width: 50px;
    height: 50px;
    font-size: 40px;
    background-color: transparent;
    border: none;
}

.card3_inner {
    width: 100%;
    height: 180px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px black;
    margin-bottom: 15px;
    padding: 6px;
}


/* titleP */
.titleP {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.titleC {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

.titleA {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}



/* dialoAdd */
.main_dialog1 {
    position: absolute;
}

.dialog1 {
    top: 160px;
    left: 70px;
    width: 450px;
    height: 220px;
    position: relative;
    border: none;
    box-shadow: 0px 0px 23px black;
    border-radius: 8px;
}

.AddName1 {
    width: 320px;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 5px;
}

.AddAge1 {
    width: 320px;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 5px;
}

.btnAdd1 {
    width: 130px;
    height: 40px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: blue;
    box-shadow: 0px 0px 3px black;
    color: white;
    font-size: 20px;
    border: none;

}

/* main_dialog2 */
.main_dialog2 {
    position: absolute;
}

.dialog2 {
    top: 160px;
    left: 570px;
    width: 450px;
    height: 220px;
    position: relative;
    border: none;
    box-shadow: 0px 0px 23px black;
    border-radius: 8px;
}

.AddName2 {
    width: 320px;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 5px;
}

.AddAge2 {
    width: 320px;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 5px;
}

.btnAdd2 {
    width: 130px;
    height: 40px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: blue;
    box-shadow: 0px 0px 3px black;
    color: white;
    font-size: 20px;
    border: none;
}

/* main_dialog3 */
.main_dialog3 {
    position: absolute;
}

.dialog3 {
    top: 160px;
    left: 1060px;
    width: 450px;
    height: 220px;
    position: relative;
    border: none;
    box-shadow: 0px 0px 23px black;
    border-radius: 8px;
}

.AddName3 {
    width: 320px;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 5px;
}

.AddAge3 {
    width: 320px;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 5px;
}

.btnAdd3 {
    width: 130px;
    height: 40px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: blue;
    box-shadow: 0px 0px 3px black;
    color: white;
    font-size: 20px;
    border: none;
}

/* dialogEdit */
.main_dailogEdit1 {
    position: absolute;
}

.dialogEdit1 {
    top: 160px;
    left: 60px;
    width: 450px;
    height: 220px;
    position: relative;
    border: none;
    box-shadow: 0px 0px 23px black;
    border-radius: 8px;
}

.EditName1 {
    width: 320px;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 5px;
}

.EditAge1 {
    width: 320px;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 5px;
}

.btnSave1 {
    width: 130px;
    height: 40px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: blue;
    box-shadow: 0px 0px 3px black;
    color: white;
    font-size: 20px;
    border: none;
}

/* main_dialogEdit2 */
.main_dialogEdit2 {
    position: absolute;
}

.dialogEdit2 {
    top: 160px;
    left: 570px;
    width: 450px;
    height: 220px;
    position: relative;
    border: none;
    box-shadow: 0px 0px 23px black;
    border-radius: 8px;
}

.EditName2 {
    width: 320px;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 5px;
}

.EditAge2 {
    width: 320px;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 5px;
}
.btnSave2 {
    width: 130px;
    height: 40px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: blue;
    box-shadow: 0px 0px 3px black;
    color: white;
    font-size: 20px;
    border: none;
}
/* main_dialogEdit3 */
.main_dialogEdit3 {
    position: absolute;
}

.dialogEdit3 {
    top: 160px;
    left: 570px;
    width: 450px;
    height: 220px;
    position: relative;
    border: none;
    box-shadow: 0px 0px 23px black;
    border-radius: 8px;
}

.EditName3 {
    width: 320px;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 5px;
}

.EditAge3 {
    width: 320px;
    height: 40px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 5px;
}
.btnSave3 {
    width: 130px;
    height: 40px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: blue;
    box-shadow: 0px 0px 3px black;
    color: white;
    font-size: 20px;
    border: none;
}